<h1 class="center">Welcome!</h1>
<p>...to the page of a hundred terds</p>

<button class="get-users center blue waves-effect waves-light btn">Get Users</button>
<h1 class="center">Welcome to the users page</h1>
<span class="users center">
  <h3>Users</h3>
  <ul class="user-list">
    <!-- Users appended here by JavaScript -->
    <button class="btn green add-user">Add User</button>
  </ul>
  
</span>